
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

* {
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: rgb(21, 21, 21);
}

picture {
    position: absolute;
}

#text{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    position: absolute;
    z-index: 3;
    color: white;
    top: 30%;
    left: 30%;
    transform: translate(-20%, -20%);
}


a {
    text-decoration: none;
    color: white
}

#firstB, #secondB {
    position: absolute;
    z-index: 3;
    width: 15em;
    padding: 20px;
    top: 70%;
    left: 20%;
    color: white;
    border: 3px solid white;
    background-color: transparent;
    font-size: 1.1em;/* 20px  */
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#secondB {
    margin-left: 350px;
}

#firstB:hover, #secondB:hover {
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    background-color: white;
    color: black;
}

@media only screen and (max-width: 700px){
    #firstB {
        top: 40%;
        left: 20%;
    }

    #secondB {
        margin: 0;
        top: 50%;
        left: 20%;
    }

    #text {
        top: 15%;
        color: black;
    }

    #section {
        height: 200px;
    }
}

@media screen and (max-width: 1023px){
    #text {
        color: black;
    }

}

#section {
    position: absolute;
    width: 100%;
    height: 1200px;
    background-image: url("./photos/2.jpg");
    background-attachment: fixed;
    top: 100%;
    z-index: 10;
    
}


ol {
    list-style: none;
    position: relative;
    left: 15%;
    top: 25%;
    
}

li {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 20px;
    font-size: 1.5vw;
}

#footer {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 200%;
    left: 45%;
    color: white;
    margin-top: 20%;
}

ul > li{
    display: inline-block;
    margin: 20px;
    margin-right: 150px;
    list-style-type: none;
    margin-left: -16%;
}

